<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Registered!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <h2 class="heading">Trainee Registered Successfully!</h2>
    <p>Trainee successfully registered with ID {{ trainer_id }}!</p>
    <div class="button-group">
        <!-- <a href="/trainee/{{ trainee_id }}/trainee_dashboard">View your Profile</a> -->
        <a href="/" class="btn">Back to Homepage</a>
    </div>
</div>
</body>
</html>